{% block sidebar %}
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item selected"> <a class="sidebar-link sidebar-link" href="index.html"
                                                 aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                    <li class="list-divider"></li>

                    <li class="nav-small-cap"><span class="hide-menu page-title text-truncate text-dark font-weight-medium">Reactors Menu</span></li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                 aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Association </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><span
                                            class="hide-menu"> Approuver association
                                        </span></a>
                            </li>
                            <li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><span
                                            class="hide-menu"> Lister Association
                                        </span></a>
                            </li>
                            <li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><span
                                            class="hide-menu"> Update/Delete Association
                                        </span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item "> <a class="sidebar-link"
                                                 href="#" aria-expanded="false"><i data-feather="lock"
                                                                                                               class="feather-icon"></i><span class="hide-menu">User
                                </span></a>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                 aria-expanded="false"><i data-feather="bar-chart" class="feather-icon"></i><span
                                    class="hide-menu">Mission </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="chart-morris.html" class="sidebar-link"><span
                                            class="hide-menu"> Lister Mission
                                        </span></a>
                            </li>
                            <li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span
                                            class="hide-menu"> Update/Delete Mission
                                        </span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                 aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span
                                    class="hide-menu">Dons </span></a>
                        <ul aria-expanded="false" class="collapse  first-level base-level-line">
                            <li class="sidebar-item"><a href="ui-buttons.html" class="sidebar-link"><span
                                            class="hide-menu"> Approuver demandes d'aide
                                        </span></a>
                            </li>
                            <li class="sidebar-item"><a href="ui-modals.html" class="sidebar-link"><span
                                            class="hide-menu"> Lister les demandes d'aide </span></a>
                            </li>
                            <li class="sidebar-item"><a href="ui-tab.html" class="sidebar-link"><span
                                            class="hide-menu"> Gérer demandes d'aide </span></a></li>


                        </ul>
                    </li>

                    <li class="list-divider"></li>
                    <li class="nav-small-cap"><span class="hide-menu">FAQ</span></li>


                    <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                                 href="#" aria-expanded="false"><i data-feather="lock"
class="feather-icon"></i><span class="hide-menu">Aide ?
                                </span></a>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                                 href="#" aria-expanded="false"><i data-feather="lock"
                                                                                   class="feather-icon"></i><span class="hide-menu">Contacter nous !
                                </span></a>
                    </li>
                    <li class="list-divider"></li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>

{% endblock %}
